<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../public/output.css" /> -->
       <link rel="stylesheet" href="output.css"/>
  </head>
  <body>
    <header>
      <div id="taskbar">
         <%- include('partials/nav')%>
        <!-- <% if(isLoggedIn){ %> -->
        <!-- <a href="/">Go to home</a>
        <a href="/add-home">Add Home</a> -->
        <!-- <% } %> -->
        <!-- <a href="/login">login</a> -->
      </div>
    </header>
    <h2>404 your page is not found on airbnb</h2>
  </body>
</html>
